*~
*.mat
*.mex*
configure.inc

dgp/simulexogenousvariables.log
dgp/simulexogenousvariables.m
dgp/simulexogenousvariables/
dgp/simulexogenousvariables_dynamic.m
dgp/simulexogenousvariables_set_auxiliary_variables.m
dgp/simulexogenousvariables_static.m
estim/example/*
estim/H.dat
estim/example.log
estim/example.m
estim/example_HistoricalAndSmoothedVariables1.eps
estim/example_Priors1.eps
estim/example_SmoothedShocks1.eps
estim/example_dynamic.m
estim/example_set_auxiliary_variables.m
estim/example_static.m
estim/x.eps
estim/z.eps
